/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* for pages starts here */
.container{
  background-color: #861f39;
  padding: 30px;
  border-radius: 8px;
  
}
.p-4
{
  background-color: #ffffff;
  color:rgb(0, 0, 0);
}
.text-center 
{
  color:#ffffff;
}
.btn
{
  background-color: #861f39;
  color: #fff;
  align-items: center; 
}
.btn-center {
  display: flex;
  justify-content: center;
}

/* for pages ends here */

/* for all page buttons with class name btn starts  here*/
.btn:hover
{
  background-color: #b33857;
  color:rgb(255, 255, 255);
}
/* for all page buttons with class name btn ends here */
